Repository RailsApps/rails-signup-thankyou: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-module-a, run-module-b

Amending all the Cypress tests to be my own and amending format of username and password definiton in function
  cypress/integration/login.cy.js
  module-b/README.md
Due: run-setup=false, run-module-b

Amending all the Cypress tests to be my own and amending format of username and password definiton in function and removing square bracket from password definition
  cypress/integration/login.cy.js
  module-b/README.md
Due: run-setup=false, run-module-b

Amending all the Cypress tests to be my own and amending format of username and password definiton in function and removing square bracket from password definition and amending button definition
  cypress/integration/login.cy.js
  module-b/README.md
Due: run-setup=false, run-module-b

Defining button by selector path
  cypress/integration/login.cy.js
  module-b/README.md
Due: run-setup=false, run-module-b

Defining button by selector path and removing the should be visible stuff from the pdf download stuff
  cypress/integration/login.cy.js
Due: run-setup=false

Defining button by selector path and removing the should be visible stuff from the pdf download stuff
  module-b/README.md
Due: run-setup=false, run-module-b

Defining button by selector path and removing the should be visible stuff from the pdf download stuff
  cypress/integration/login.cy.js
  module-b/README.md
Due: run-setup=false, run-module-b

Temporarily removing test to download PDF
  cypress/integration/login.cy.js
  module-b/README.md
Due: run-setup=false, run-module-b

Temporarily removing test to download PDF as well as should contain thank you bit
  cypress/integration/login.cy.js
Due: run-setup=false

Temporarily removing test to download PDF as well as should contain thank you bit
  module-b/README.md
Due: run-setup=false, run-module-b

Temporarily removing test to download PDF as well as should contain thank you bit and failure alert banner
  cypress/integration/login.cy.js
  module-b/README.md
Due: run-setup=false, run-module-b

Making a lot of changes to create test to get it of a similar format to login
  cypress/integration/create.cy.js
  module-b/README.md
Due: run-setup=false, run-module-b

Making a lot of changes to create test to get it of a similar format to login and removing signup title contains bit
  cypress/integration/create.cy.js
  module-b/README.md
Due: run-setup=false, run-module-b

Making a lot of changes to create test to get it of a similar format to login and removing signup title contains bit and putting back in PDF download test
  cypress/integration/login.cy.js
  module-b/README.md
Due: run-setup=false, run-module-b

Taking back out PDF download bit
  cypress/integration/login.cy.js
  module-b/README.md
Due: run-setup=false, run-module-b

Full end to end pipeline
  .circleci/config.yml
Due: run-setup=false

Full end to end pipeline
  module-b/README.md
Due: run-setup=false, run-module-b

Full end to end pipeline
  .circleci/config.yml
  module-b/README.md
Due: run-setup=false, run-module-b

Amending Module B
  module-b/README.md
Due: run-setup=false, run-module-b

Amending Module A and commenting out Synk scan step
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Amending Module A and putting back in Synk scan step
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Amending Module A and putting back in Synk scan step
  module-a/README.md
Due: run-setup=false, run-module-a

Amending Module A and putting back in Synk scan step and amending orb version in rego file
  module-a/README.md
Due: run-setup=false, run-module-a

Amending Module A and putting back in Synk scan step and amending orb version in rego file to be just 1
  module-a/README.md
Due: run-setup=false, run-module-a

Amending Module A and putting back in Synk scan step and removing helper from rego job as well as adding in rule condition to look for specific job
  module-a/README.md
Due: run-setup=false, run-module-a

Amending policy again
  module-a/README.md
Due: run-setup=false, run-module-a

Amending policy again and commenting out synk scan step again to test
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Amending policy again to add in new stanza and commenting out synk scan step again to test
  module-a/README.md
Due: run-setup=false, run-module-a

Amending policy again to add in new stanza and uncommenting out synk scan step again to test
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Removing comment to trigger clean commit
  .circleci/config.yml
Due: run-setup=false

Amending Module-A
  module-a/README.md
Due: run-setup=false, run-module-a

Amending Module-A
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Amending Module-A and commenting out both Snyk orb and steps to see what gets thrown back
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Amending module A after taking out offending policy and amending orb one instead
  module-a/README.md
Due: run-setup=false, run-module-a

Modifying Module A after retesting policies
  module-a/README.md
Due: run-setup=false, run-module-a

Path conditions:
  run-setup=false: any of: .*
  run-module-a: any of: module-a/.*
  run-module-b: any of: module-b/.*
