Repository RailsApps/rails-signup-thankyou: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-module-a, run-module-b

Uncommenting Snyk step and orb which should pass job
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Uncommenting Snyk step and orb which should pass job
  module-a/README.md
Due: run-setup=false, run-module-a

Reordering Synk and Docker push steps
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Uncommenting Synk orb and Synk steps to test policy
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Uncommenting back out Synk orb and Synk steps to test policy
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Putting in image envvar
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Adding in orb YML file
  npx-cypress.yml
Due: run-setup=false

Amending Module B and adding in private orb
  .circleci/config.yml
  module-b/README.md
Due: run-setup=false, run-module-b

Amending Module B and adding in private orb
  .circleci/config.yml
Due: run-setup=false

Amending Module B and adding in private orb
  module-b/README.md
Due: run-setup=false, run-module-b

Updating orb and adding in by commenting out rogue private orb
  .circleci/config.yml
  module-b/README.md
  npx-cypress.yml
Due: run-setup=false, run-module-b

Updating orb and adding in by uncommenting out rogue private orb
  .circleci/config.yml
  module-b/README.md
Due: run-setup=false, run-module-b

Switching to new Heroku app and amending Cypress tests and commenting back out rogue private orb
  .circleci/config.yml
  cypress/integration/about_page.cy.js
  cypress/integration/create.cy.js
  cypress/integration/home_page.cy.js
  cypress/integration/login.cy.js
  module-b/README.md
Due: run-setup=false, run-module-b

Amending module A and testing private orb
  .circleci/config.yml
  block-ssh.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Amending module B and testing private orb
  module-b/README.md
Due: run-setup=false, run-module-b

Amending module B and testing private orb
  block-ssh.yml
  npx-cypress.yml
Due: run-setup=false

Amending Module A and commenting out orb step
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Amending Module A and commenting out orb step and orb declaration
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Amending Module A and commenting back out orb step but uncommented orb declaration
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Trying again with orb uncommented and step commented out
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Amending module A but also commenting out Synk Scan step
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Amending Module B to test updated Heroku app
  module-b/README.md
Due: run-setup=false, run-module-b

Amending Module A
  module-a/README.md
Due: run-setup=false, run-module-a

Fixing Cypress tests after updating Heroku app to Ubuntu 20
  cypress/integration/about_page.cy.js
  cypress/integration/create.cy.js
  cypress/integration/home_page.cy.js
  cypress/integration/login.cy.js
  module-b/README.md
Due: run-setup=false, run-module-b

Removing some Cypress tests to get a green build
  cypress/create.cy.js
  cypress/integration/about_page.cy.js
  cypress/login.cy.js
  module-b/README.md
Due: run-setup=false, run-module-b

Amending Module A and using COntext for Docker image
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Amending module A and testing policy to block job if no BlockSSH step
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Amending module A and testing policy to block job if no BlockSSH orb
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Amending module A and testing policy to block job if no snyk orb
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Amending module A and testing policy to block job if no snyk job steps
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Amending module A and testing policy to block job if no checksession job steps
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Amending module A and testing policy to block job if no checksession job steps
  module-a/README.md
Due: run-setup=false, run-module-a

Amending module A and testing policy to block job if no checksession orb
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Testing step process with latest version of CLI
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Testing step process with latest version of CLI and commenting out orb
  .circleci/config.yml
  module-a/README.md
Due: run-setup=false, run-module-a

Path conditions:
  run-setup=false: any of: .*
  run-module-a: any of: module-a/.*
  run-module-b: any of: module-b/.*
